body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.hex, .hex * {
  overflow: hidden;
  width: 90px;
  height: 103px;
  background: #cccccccc;
  transform: rotate(60deg);
  visibility: hidden;
}
.hex__picture {
  visibility: visible;
}