.navbar {
  background: #323232;
  text-align: center;
}
.menu {
  width: 1020px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}
.menu__item {
  display: inline-block;
}
.menu__link {
  display: block;
  padding: 0.9rem;
  text-transform: uppercase;
  font: bold .6rem sans-serif;
  color: #e0e0e0;
  transition: .1s all ease-in-out;
}
.menu__link--active, .menu__link:hover {
  color: #2f907c;
}
.menu__link--dot {
  position: relative;
}
.menu__link--dot::after {
  content: "\2022";
  position: absolute;
  text-align: center;
  right: -5px;
  width: 10px;
  display: inline-block;
  color: #484c5f;
  top: 50%;
  margin-top: -10px;
  line-height: 20px;
  vertical-align: middle;
}
.hex {
  width: 90px;
  height: 103px;
  overflow: hidden;;
}
.hex * {
  overflow: hidden;
  width: 90px;
  height: 103px;
  transform: rotate(60deg);
  visibility: hidden;
}
.hex__contents {
  visibility: visible;
}
.menu__item--shape-hex {
  display: inline-block;
  padding: 0;
  margin: -12px 0 -41px 0;
}
.menu__link--shape-hex {
  padding: 0;
}
.menu__arrow-cont {
  display: block;
  background: #323232;
  transition: .1s all ease-in-out;
}
/* TODO continue fom here */
.menu__arrow-cont:hover {
  background: #fff;
}