.navbar {
  background: #323232;
  text-align: center;
}
.menu {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}
.menu::before, .menu::after {
  content: '';
  display: block;
  height: 1px;
  width: 40%;
  background: #e4e9eb;
  position: absolute;
  bottom: -10px;
  left: 30px;
}
.menu::after {
  left: auto;
  right: 30px;
}
.menu__item {
  display: inline-block;
}
.menu__link {
  display: block;
  padding: 29px 15px 22px;
  text-transform: uppercase;
  font: bold .6rem sans-serif;
  color: #e0e0e0;
  transition: .1s all ease-in-out;
}
.menu__link--active, .menu__link:hover {
  color: #2f907c;
}
.menu__link--dot {
  position: relative;
}
.menu__link--dot::after {
  content: "\2022";
  position: absolute;
  text-align: center;
  right: -5px;
  width: 10px;
  display: inline-block;
  color: #484c5f;
  top: 29px;
}
.hex {
  width: 90px;
  height: 103px;
  overflow: hidden;
}
.hex__layer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.hex__layer--main {
  transform: rotate(120deg);
}
.hex__layer--inner {
  transform: rotate(-60deg);
}
.hex__layer--contents {
  transform: rotate(-60deg);
  visibility: visible;
}
.menu__item--shape-hex {
  margin: -14px 0 -49px 0;
}
.menu__link--shape-hex {
  height: 100%;
  padding: 0;
}
.menu__arrow-cont {
  background: #323232;
  position: relative;
}
.menu__arrow-cont:hover .arrow__side {
  background: #2f907c;
}
.arrow {
  position: relative;
  width: 64px;
  height: 54px;
  top: 50%;
  left: 50%;
  margin-top: -27px;
  margin-left: -32px;
  overflow: hidden;
}
.arrow__side {
  transition: .1s background ease-in-out;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100px;
  background: #f9f9f9;
  transform-origin: bottom center;
}
.arrow__side--bott-left {
  transform: rotate(30deg);
}
.arrow__side--bott-right {
  transform: rotate(-30deg);
}
.arrow__side--top-left {
  bottom: 40px;
  transform: rotate(-67deg);
  margin-left: 0;
}
.arrow__side--top-right {
  bottom: 40px;
  transform: rotate(67deg);
}

.slider {
  padding: 88px 0;
  width: 1024px;
  margin: 0 auto;
}
.slider__row {
  margin: 0 auto;
  font-size: 0;
}
/* .slider__row::after {
  content: '';
  display: block;
  clear: both;
} */
.slider__hex {
  display: inline-block;
  width: 182px;
  height: 209px;
  margin-left: 19px;
}
.slider__image {
  background: #ccc;
}
.slider__row--style-default {
  max-width: 820px;
}
.slider__row:not(:first-child) {
  margin-top: -40px;
}
.slider__image--one { background: url('./assets/images/1.png'); }
.slider__image--two { background: url('./assets/images/2.png'); }
.slider__image--three { background: url('./assets/images/3.png'); }
.slider__image--four { background: url('./assets/images/4.png'); }
.slider__image--five { background: url('./assets/images/5.png'); }
.slider__image--six { background: url('./assets/images/6.png'); }
.slider__image--seven { background: url('./assets/images/7.png'); }
.slider__image--eight { background: url('./assets/images/8.png'); }
.slider__image--nine { background: url('./assets/images/9.png'); }
.slider__image--ten { background: url('./assets/images/10.png'); }
.slider__image--eleven { background: url('./assets/images/11.png'); }
.slider__image--twelve { background: url('./assets/images/12.png'); }
.slider__image--thirteen { background: url('./assets/images/13.png'); }

